main {
	min-height: 80vh;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

.container {
	margin-top: 25px;
}

.no-products {
	padding-left: 15px;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h2 {
	color: #fff;
}

.carousel img {
	height: 300px;
	padding: 30px;
	margin: 40px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.carousel a {
	margin: 0 auto;
}

@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}

/* Categories menu */
#menu ul {
	margin: 0;
	padding: 0;
}

#menu .main-menu {
	display: none;
}

#tm:checked + .main-menu {
	display: block;
}

#menu input[type='checkbox'],
#menu ul span.drop-icon {
	display: none;
}

#menu li,
#toggle-menu,
#menu .sub-menu {
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.05);
}

#menu li,
#toggle-menu {
	border-width: 0 0 1px;
}

#menu .sub-menu {
	background-color: gainsboro;
	border-width: 1px 1px 0;
	margin: 0 1em;
}

#menu .sub-menu li:last-child {
	border-width: 0;
}

#menu li,
#toggle-menu,
#menu a {
	position: relative;
	display: block;
	color: #444;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.125);
}

#menu {
	/*background-color: #09c;*/
	background-color: gainsboro;
	min-height: 50px;
}

#toggle-menu {
	background: #333;
	color: #f7f7f7;
}

#toggle-menu,
#menu a {
	padding: 1em 1.5em;
}

#menu a {
	transition: all 0.125s ease-in-out;
	-webkit-transition: all 0.125s ease-in-out;
}

#menu a:hover {
	background-color: white;
	/*color: #09c;*/
	color: rgba(0, 0, 0, 0.05);
}

#menu .sub-menu {
	display: none;
}

#menu input[type='checkbox']:checked + .sub-menu {
	display: block;
}

#menu .sub-menu a:hover {
	color: #444;
}

#toggle-menu .drop-icon,
#menu li label.drop-icon {
	position: absolute;
	right: 0;
	top: 0;
}

#menu label.drop-icon,
#toggle-menu span.drop-icon {
	padding: 1em;
	font-size: 1em;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.125);
	text-shadow: 0 0 0 transparent;
	color: rgba(255, 255, 255, 0.75);
}

#menu a {
	text-decoration: none;
}

@media only screen and (min-width: 1024px) {
	#menu .main-menu {
		display: block;
	}

	#toggle-menu,
	#menu label.drop-icon {
		display: none;
	}

	#menu ul span.drop-icon {
		display: inline-block;
		cursor: pointer;
	}

	#menu li {
		float: left;
		border-width: 0 1px 0 0;
	}

	#menu .sub-menu li {
		float: none;
	}

	#menu .sub-menu {
		border-width: 0;
		margin: 0;
		position: absolute;
		top: 100%;
		left: 0;
		width: 12em;
	}

	#menu .sub-menu,
	#menu input[type='checkbox']:checked + .sub-menu {
		display: none;
	}

	#menu .sub-menu li {
		border-width: 0 0 1px;
	}

	#menu .sub-menu .sub-menu {
		top: 0;
		left: 100%;
	}

	#menu .sub-menu .drop-icon {
		position: absolute;
		top: 0;
		right: 0;
		padding: 1em;
	}

	#menu li:hover > input[type='checkbox'] + .sub-menu {
		display: block;
		z-index: 3000;
	}
}
